header .row {
    justify-content: space-around;
}

header h1 {
    text-decoration: none;

    position: relative;
}

td, th {
    min-width: 50px;
    text-align: center;

    padding: 5px 10px;
}

td p {
    max-height: 63px;
    overflow: hidden;
}

