.row {
    justify-content: space-around;
}

header h1 {
    text-decoration: none;
}

td, th {
    min-width: 50px;
    text-align: center;

    padding: 5px 10px;
}

.button {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    color: rgba(0,0,0,1);
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.button.remove:hover {
    background: rgba(255, 99, 71, 1);
}

.button.edit:hover {
    background: rgb(255, 163, 87);
}

td p {
    max-height: 63px;
    overflow: hidden;
}
