body {
    margin: 0;
    background: url('../img/wheat.png');
}

h1 {
    margin: 0;

    display: flex;
    align-items: center;
}

.container {
    color: #f0f0f0;
    font-family: 'Nunito', sans-serif;
}

header {
    padding: 20px;
    margin: 30px 40px;

    position: fixed;
    top: 0;
    left: 0;

    width: -webkit-fill-available;

    /* animation: headerSmallToBig 0.5s linear 1; */
}

header h1 {
    font-weight: 500;
    font-size: 40px;
    letter-spacing: -4px;
    font-family: "Segoe UI";
    text-decoration: underline;
}

.padding {
    padding-top: 159px;
}

@keyframes headerBigToSmall {
    100% {
        margin: 0px 40px;
    }
}

@keyframes headerSmallToBig {
    100% {
        margin: 30px 40px;
    }
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
}

.nav li {
    font-weight: bold;
    font-size: 20px;

    list-style: none;

    padding-left: 10px;

    vertical-align: middle;

    display: flex;
    align-items: center;
}
.nav {
    display: flex;
}
header .row ul {
    padding: 0 45px;
}

.content {
    max-width: 1200px;
    margin: 0 auto;

    padding: 20px;
    border-radius: 10px;
}

.about img {
    transform: rotate(3deg);
    height: 300px;
    margin-left: 40px;

    border: 12px solid white;
    border-bottom: 52px solid white;

    animation: wobble 8s linear infinite;
}

@keyframes wobble {
    50% {
        transform: rotate(-1deg);
    }
}

input, button {
    border: none;
}

.button {
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.8);
    text-decoration: none;
    color: rgba(0,0,0,1);
    border-radius: 5px;
    font-weight: bold;
    margin: auto 0;
}

.button:hover {
    background: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.button.remove:hover {
    background: rgba(255, 99, 71, 1);
}

.button.edit:hover {
    background: rgb(255, 163, 87);
}

.button.add:hover {
    background: rgb(187, 236, 92);
}

/* MODAL BOX */
.modal {
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    background: rgba(0, 0, 0, 0.5);
}

.modal .content {
    width: 25%;
    min-width: 350px;
    height: fit-content;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
    border-radius: 8px;

    color: black;
    background: white;    
}

.modal span {
    font-weight: bold;
}

.modal form input {
    margin: 10px 0;
}

.modal form input[type=text] {
    border: gray 1px solid;
    border-radius: 5px;
    padding: 15px;
}

.modal .close:hover {
    cursor: pointer;
}
